<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <title>Mercado Web</title>
    </head>
    <body>
        {{> Menu}}
        {{> Saludo}}
        {{> Producto}}
    <script src="https://kit.fontawesome.com/26f1f0d8af.js" crossorigin="anonymous"></script>
    <script src="/css/bootstrap.js"></script>
    <script src="/js/jquery.js"></script>
    </body>
</html>
<script>
  $(document).ready(function() {
    // Funci贸n para manejar el clic en los botones de las verduras
    $('.card-producto').click(function(event) {
      // Verifica si el bot贸n ya ha sido clicado
      if (!$(this).prop('disabled')) {
        // Obtiene la URL de la imagen dentro del bot贸n clicado
        let imgSrc = $(this).find('img').attr('src');

        // Crea un nuevo elemento de imagen y lo agrega al contenedor en el modal
        let imgElement = $('<img>').attr('src', imgSrc).addClass('p-3 w-25');
        $('#productosContainer').append(imgElement);

        // Desactiva el bot贸n para evitar que se haga clic nuevamente
        $(this).prop('disabled', true);
      }
    });
  });
</script>